{
  "openapi": "3.0.1",
  "info": {
    "title": "Kadocoin Multi Wallet API",
    "description": "Kadocoin is peer-to-peer digital currency that enables instant payments to anyone, anywhere in the world. This API hosts the multi-wallet currency wallet. Get your wallet for free at [http://kadocoin.org](http://kadocoin.org)",
    "termsOfService": "http://kadocoin.org/terms/",
    "contact": {
      "email": "adamu.dankore@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://www.opensource.org/licenses/mit-license.php"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Kadocoin",
    "url": "http://kadocoin.org"
  },
  "servers": [
    {
      "url": "https://api.kadocoin.org"
    }
  ],
  "tags": [
    {
      "name": "Transaction",
      "description": "Sends Kadocoin, get unconfirmed transactions and validate(mine) transactions",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://kadocoin.org"
      }
    },
    {
      "name": "Blockchain",
      "description": "Provides access to Kadocoin blockchain"
    },
    {
      "name": "Wallet",
      "description": "Provides Wallet information"
    },
    {
      "name": "User",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://kadocoin.org"
      }
    }
  ],
  "paths": {
    "/transact": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Adds or update a new transaction to the transaction pool",
        "requestBody": {
          "description": "Adds or update a new transaction to the transaction pool",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/transaction-pool": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Returns unconfirmed transactions by most transactions fees",
        "description": "Returns an object with the successful transaction",
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/mine-transactions": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Validates unconfirmed transactions A.K.A mining",
        "operationId": "placeOrder",
        "requestBody": {
          "description": "Validates unconfirmed transactions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mine Transactions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/blocks": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get all blocks in the blockchain. The blockchain consists of blocks",
        "description": "Returns an array of validated blocks",
        "responses": {
          "200": {
            "description": "success"
          },
          "500": {
            "description": "internal server error"
          }
        }
      }
    },
    "/block/{blockHash}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Find a block by their hash",
        "description": "Returns an object containing the block",
        "parameters": [
          {
            "name": "blockHash",
            "in": "path",
            "description": "Hash of the block to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        }
      }
    },
    "/wallet-info": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Gets the wallet information of a Kadocoin address",
        "description": "Returns an object containing the wallet info",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "not found"
          },
          "500": {
            "description": "internal server error"
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create user",
        "description": "This can only be done by the logged in user.",
        "operationId": "createUser",
        "requestBody": {
          "description": "Created user object",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "successful operation",
            "content": {}
          }
        },
        "x-swagger-router-controller": "User"
      }
    },
    "/user/login": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Logs user into the system",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email for login",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "path",
            "description": "The password for login in clear text",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "User"
      }
    }
  },
  "components": {
    "schemas": {
      "Mine Transactions": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "address": "0xf13C09968D48271991018A956C49940c41eCb1c3",
          "message": "Kadocoin to the Galaxies!"
        },
        "xml": {
          "name": "Mine Transactions"
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "publicKey": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "scope": {
            "type": "array"
          },
          "registrationMethod": {
            "type": "string",
            "description": "Example - email/password, Google, Facebook etc"
          }
        },
        "example": {
          "_id": "sOUiiU_Ol9ma",
          "name": "Name",
          "address": "0xf13C09968D48271991018A956C49940c41eCb1c3",
          "publicKey": "0460eeaa6a2393801ca90356bab01b6d206b9a431d8475f3ebff6999eef7199ad0b0f98e2aa354b24386b072553071dfe100574667584c11b518ea1e36ba959bb4",
          "bio": "Kadocoin is a peer-2-peer digital currencies",
          "scope": "admin"
        },
        "xml": {
          "name": "User"
        }
      },
      "Transaction": {
        "required": [
          "amount",
          "recipient",
          "publicKey",
          "address"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "example": "50"
          },
          "recipient": {
            "type": "string",
            "example": "0xf13C09968D48271991018A956C49940c41eCb1c3"
          },
          "publicKey": {
            "type": "string",
            "example": "0460eeaa6a2393801ca90356bab01b6d206b9a431d8475f3ebff6999eef7199ad0b0f98e2aa354b24386b072553071dfe100574667584c11b518ea1e36ba959bb4"
          },
          "address": {
            "type": "string",
            "example": "0xC6d23c6703f33F5ad74E6E4fc17C1CE9397D4AAD"
          },
          "message": {
            "type": "string",
            "example": "Hello, Kadocoin!"
          },
          "sendFee": {
            "type": "string",
            "example": "0.0003"
          }
        },
        "xml": {
          "name": "Transaction"
        }
      }
    },
    "securitySchemes": {}
  }
}