{
  "openapi": "3.0.1",
  "info": {
    "title": "Kadocoin Multi Wallet API",
    "description": "Kadocoin is peer-to-peer digital currency that enables instant payments to anyone, anywhere in the world. This API hosts the multi-wallet currency wallet. Get your wallet for free at [http://kadocoin.org](http://kadocoin.org)",
    "termsOfService": "http://kadocoin.org/terms/",
    "contact": {
      "email": "adamu.dankore@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://www.opensource.org/licenses/mit-license.php"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Kadocoin",
    "url": "http://kadocoin.org"
  },
  "servers": [
    {
      "url": "https://api.kadocoin.org"
    }
  ],
  "tags": [
    {
      "name": "Transaction",
      "description": "Everything about transactions",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://kadocoin.org"
      }
    },
    {
      "name": "blockchain",
      "description": "Access to blockchain"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://kadocoin.org"
      }
    }
  ],
  "paths": {
    "/api/transact": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Add a new pet to the store",
        "operationId": "addPet",
        "requestBody": {
          "description": "Transaction object that needs to be added to the blockchain",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/api/transaction-pool": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Returns unconfirmed transactions by most transactions fees",
        "description": "Returns an object with the successful transaction",
        "operationId": "getInventory",
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/api/mine-transactions": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Validates unconfirmed transactions A.K.A mining",
        "operationId": "placeOrder",
        "requestBody": {
          "description": "Validates unconfirmed transactions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mine-transactions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "x-swagger-router-controller": "Transaction"
      }
    },
    "/api/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create user",
        "description": "This can only be done by the logged in user.",
        "operationId": "createUser",
        "requestBody": {
          "description": "Created user object",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "successful operation",
            "content": {}
          }
        },
        "x-swagger-router-controller": "User",
        "x-codegen-request-body-name": "body"
      }
    },
    "/user/login": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "operationId": "loginUser",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The user name for login",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for login in clear text",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Expires-After": {
                "description": "date in UTC when token expires",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid username/password supplied",
            "content": {}
          }
        },
        "x-swagger-router-controller": "User"
      }
    }
  },
  "components": {
    "schemas": {
      "mine-transactions": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "address": "0xf13C09968D48271991018A956C49940c41eCb1c3",
          "message": "Kadocoin to the Galaxies!"
        },
        "xml": {
          "name": "mine-transactions"
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "userStatus": {
            "type": "integer",
            "description": "User Status",
            "format": "int32"
          }
        },
        "example": {
          "firstName": "firstName",
          "lastName": "lastName",
          "password": "password",
          "userStatus": 6,
          "phone": "phone",
          "id": 0,
          "email": "email",
          "username": "username"
        },
        "xml": {
          "name": "User"
        }
      },
      "Transaction": {
        "required": [
          "amount",
          "recipient",
          "publicKey",
          "address"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "example": "50"
          },
          "recipient": {
            "type": "string",
            "example": "0xf13C09968D48271991018A956C49940c41eCb1c3"
          },
          "publicKey": {
            "type": "string",
            "example": "0460eeaa6a2393801ca90356bab01b6d206b9a431d8475f3ebff6999eef7199ad0b0f98e2aa354b24386b072553071dfe100574667584c11b518ea1e36ba959bb4"
          },
          "address": {
            "type": "string",
            "example": "0xC6d23c6703f33F5ad74E6E4fc17C1CE9397D4AAD"
          },
          "message": {
            "type": "string",
            "example": "Hello, Kadocoin!"
          },
          "sendFee": {
            "type": "string",
            "example": "0.0003"
          }
        },
        "xml": {
          "name": "Transaction"
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "type": "type",
          "message": "message"
        }
      }
    },
    "securitySchemes": {}
  }
}